<div class="jumbotron jumbotron-home">
  <div class="container">
    <h1>Welcome to My Portfolio done with Ruby on Rails</h1>
    <p>After COVID-19 hit and lost everything, I decided to change my career direction at the age of 40.
    Web development was the direction I decided to take to my solution based thinking. I have been learning web development
    using YouTube videos and the journey has been great</p>
    <%= link_to "Let us Talk More >>", "#", class: "btn btn-primary btn-lg center" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>What Can I do Really</h2>
      <p>Well I come from the marketing industry with direct contact with C2B nd B2B customers for over 20 years. I am
      more interested in finding solutions to problems people face everyday. I want cheaper and effective solutions
      using applictions that are scallable through a beautiful code that is readable to other developers</p>
      <p><%= link_to "View My Other Work", "#", class: "btn btn-secondary" %></p>
    </div>
    <div class="col-md-4">
      <h2>Ruby on Rails</h2>
      <p>Why Use Ruby on Rails (RoR)? Ruby on Rails is primarily used for creating high-performance web platforms.
        It is always a suitable option for programming a wide range of tasks for a web application. As Ruby on Rails
        uses a concise amount of code, which makes it easier to detect and rectify any errors</p>
      <p><%= link_to "Read More About Me", "#", class: "btn btn-secondary" %></p>
    </div>
    <div class="col-md-4">
      <h2>Why Hire Me </h2>
      <p>Over the years, I have acquired relevant skills and experience, which I shall bring to your organization.
        I have also worked tirelessly on my communication abilities and teamwork skills, which I will put to use
        in my future career, which would be in your organization if I am selected for the position</p>
      <p><%= link_to "Get More Details", "#", class: "btn btn-secondary" %></p>
    </div>
  </div>
</div>
