.jumbotron-home{
  background-image: url(image_path("home2-bg.png"));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
};

.info-wrap {
  background-image: url(image_path("profile.png"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
};


